h2 {
    display: inline-block;
}
p {
    display: inline-block;
}
span {
    font-weight: bold;
}
.split {
    background-color: violet;
    padding: 24px;
    margin: 24px;
    display: inline-block;
    width: 400px;
} 